k8s-setup.yaml

api/.env.local
api/.env.local.php
api/.env.*.local
api/config/secrets/prod/prod.decrypt.private.php
api/public/bundles/
api/var/
api/vendor/

service/.env.local
service/.env.local.php
service/.env.*.local
service/config/secrets/prod/prod.decrypt.private.php
service/public/bundles/
service/var/
service/vendor/
